Source: linyaps-rust
Section: admin
Priority: optional
Maintainer: guanzi008 <20619190+guanzi008@users.noreply.github.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-rust,
Build-Depends-Arch:
 cargo:native,
 librust-am-fs-core-0.2+default-dev (>= 0.2.2-~~),
 librust-anyhow-1+default-dev (>= 1.0.102-~~),
 librust-assert-cmd-2+default-dev <!nocheck>,
 librust-async-channel-2+default-dev (>= 2.5.0-~~),
 librust-async-io-2+default-dev (>= 2.6.0-~~),
 librust-async-lock-3+default-dev (>= 3.4.2-~~),
 librust-base64-0.22+default-dev (>= 0.22.1-~~),
 librust-bzip2-0.6+default-dev (>= 0.6.1-~~),
 librust-clap-4+default-dev (>= 4.5.60-~~),
 librust-clap-4+derive-dev (>= 4.5.60-~~),
 librust-crc32c-0.6+default-dev,
 librust-flate2-1+default-dev (>= 1.1.9-~~),
 librust-flate2-1+rust-backend-dev (>= 1.1.9-~~),
 librust-fuser-0.17+abi-7-31-dev (>= 0.17.0-~~),
 librust-futures-lite-2+default-dev (>= 2.6.1-~~),
 librust-gix-0.83+basic-dev (>= 0.83.0-~~),
 librust-gix-0.83+blocking-http-transport-reqwest-rust-tls-dev (>= 0.83.0-~~),
 librust-gix-0.83+comfort-dev (>= 0.83.0-~~),
 librust-gix-0.83+sha1-dev (>= 0.83.0-~~),
 librust-gix-0.83+worktree-mutation-dev (>= 0.83.0-~~),
 librust-goblin-0.10+default-dev (>= 0.10.3-~~),
 librust-hex-0.4+default-dev <!nocheck>,
 librust-libc-0.2+default-dev (>= 0.2.177-~~),
 librust-lru-0.16+default-dev (>= 0.16.4-~~),
 librust-lz4-flex-0.13+default-dev (>= 0.13.0-~~) <!nocheck>,
 librust-lz4-flex-0.13+safe-decode-dev (>= 0.13.0-~~),
 librust-lz4-flex-0.13+safe-encode-dev (>= 0.13.0-~~),
 librust-lzma-rs-0.3+default-dev,
 librust-md-5-0.11+default-dev (>= 0.11.0-~~),
 librust-oci-spec-0.10+default-dev (>= 0.10.0-~~),
 librust-oci-spec-0.10+runtime-dev (>= 0.10.0-~~),
 librust-ostrya-0.0.1+tokio-dev,
 librust-ostrya-core-0.0.1+default-dev,
 librust-patchkit-0.3+default-dev (>= 0.3.3-~~),
 librust-reqwest-0.13+json-dev (>= 0.13.4-~~),
 librust-reqwest-0.13+multipart-dev (>= 0.13.4-~~),
 librust-reqwest-0.13+rustls-no-provider-dev (>= 0.13.4-~~),
 librust-reqwest-0.13+stream-dev (>= 0.13.4-~~),
 librust-rustix-1+fs-dev (>= 1.1.4-~~),
 librust-rustix-1+process-dev (>= 1.1.4-~~),
 librust-rustix-1+std-dev (>= 1.1.4-~~),
 librust-rustls-rustcrypto-0.0.2+default-dev (>= 0.0.2~alpha-~~),
 librust-ruzstd-0.8+default-dev (>= 0.8.3-~~),
 librust-semver-1+default-dev (>= 1.0.28-~~),
 librust-serde-1+default-dev (>= 1.0.228-~~),
 librust-serde-1+derive-dev (>= 1.0.228-~~),
 librust-serde-json-1+default-dev (>= 1.0.149-~~),
 librust-serde-yml-0.0.12+default-dev,
 librust-sha1-0.11+default-dev (>= 0.11.0-~~),
 librust-sha2-0.11+default-dev (>= 0.11.0-~~),
 librust-tempfile-3+default-dev (>= 3.27.0-~~) <!nocheck>,
 librust-thiserror-2+default-dev (>= 2.0.18-~~),
 librust-tokio-1+default-dev (>= 1.48.0-~~),
 librust-tokio-1+macros-dev (>= 1.48.0-~~),
 librust-tokio-1+rt-multi-thread-dev (>= 1.48.0-~~),
 librust-tokio-1+time-dev (>= 1.48.0-~~),
 librust-wayland-protocols-0.32+client-dev (>= 0.32.9-~~) <!nocheck>,
 librust-wayland-protocols-0.32+default-dev (>= 0.32.9-~~) <!nocheck>,
 librust-wayland-protocols-0.32+server-dev (>= 0.32.9-~~) <!nocheck>,
 librust-wayland-protocols-0.32+staging-dev (>= 0.32.9-~~) <!nocheck>,
 librust-wayland-server-0.31+default-dev (>= 0.31.10-~~) <!nocheck>,
 librust-zbus-5+blocking-api-dev (>= 5.18.0-~~),
 librust-zbus-5+p2p-dev (>= 5.18.0-~~),
 librust-zbus-5+tokio-dev (>= 5.18.0-~~),
 librust-zvariant-5+default-dev (>= 5.13.1-~~),
 libstd-rust-dev,
 rustc:native (>= 1.92),
Standards-Version: 4.7.4
Homepage: https://github.com/LFRon/linyaps-rust-deb
Vcs-Git: https://github.com/LFRon/linyaps-rust-deb.git
Vcs-Browser: https://github.com/LFRon/linyaps-rust-deb
Rules-Requires-Root: no

Package: linglong-bin
Architecture: linux-any
X-Cargo-Crates:
 ll-cli,
 ll-driver-detect,
 ll-init,
 ll-package-manager,
 ll-system-helper,
Depends:
 desktop-file-utils,
 erofs-utils,
 fuse-overlayfs,
 init-system-helpers (>= 1.52),
 libglib2.0-bin,
 linglong-box (>= 2.3.0~rust1) | crun,
 pkexec | policykit-1,
 shared-mime-info,
 systemd | systemd-standalone-sysusers | systemd-sysusers,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 erofsfuse,
Built-Using:
 ${cargo:Built-Using},
Static-Built-Using:
 ${cargo:Static-Built-Using},
Description: Linyaps package manager implemented in Rust
 A command-compatible Rust implementation of the Linyaps package manager.
 It provides the command-line client, package-manager service, container
 initialization helper, desktop integration and system integration files.

Package: linglong-builder
Architecture: linux-any
X-Cargo-Crates:
 linyaps-uab,
 ll-builder,
Depends:
 erofs-utils,
 fuse-overlayfs,
 git,
 linglong-bin (= ${binary:Version}),
 linglong-box (>= 2.3.0~rust1) | crun,
 uidmap,
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 linglong-loader,
Suggests:
 devscripts,
Built-Using:
 ${cargo:Built-Using},
Static-Built-Using:
 ${cargo:Static-Built-Using},
Description: Linyaps application builder implemented in Rust
 Tools for building, exporting and publishing Linyaps applications, including
 source fetchers, project validators and universal application bundle helpers.
