# SPDX-FileCopyrightText: 2023 UnionTech Software Technology Co., Ltd.
#
# SPDX-License-Identifier: LGPL-3.0-or-later

[D-BUS Service]
Name=org.deepin.linglong.PackageManager1
Exec=/usr/libexec/linglong/ll-package-manager
User=deepin-linglong
SystemdService=org.deepin.linglong.PackageManager.service
